@import '../styles/colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

button {
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    opacity: 0.9;
  }
}
